<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>A recover password was requested to your account</p>
  <p>Please click here to recover:</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>
  <p>If was not you, forgot this e-mail.</p>
  <p>
    Thanks!<br />
    <strong>Team Gobarber</strong>
  </p>
</div>
